{% extends "index.html" %}

{% block content %}
  <div class="row">

    <div class="col-md-6 col-md-offset-3">
      <form method="post">
        <p id="titulo2">Editar Titulo</p>
        <input type="text" class="form-control" name="titulo" value = {{post.titulo}}>
        <br>
        <p id="titulo3" > Editar Comentarios</p>
        <textarea type="text" name="contenido" class="form-control" rows="5">{{post.contenido}}</textarea>
        <br>
        <button id="titulo4" onclick="history.go(-1); return false">Volver</button>     
        <button id="titulo4" type="submit">Guardar</button>
      </form>
    </div>
  </div>
{% endblock %}